@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');
body {
	background-image: url("../src/Icons/wallpapper.png");
	background-position: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ganondorf {
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  color: white;
}
.heros {
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: white;

}
.description {
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: white;
}



.animationDamage {
  
  animation: damage 1s ease 0s 1 normal forwards;
  transition: 0.4s;
  filter: drop-shadow(0 0 40px rgba(255, 0, 0, 1))
}
@keyframes damage {
	0% {
		transform: translate(0);
	}

	10% {
		transform: translate(-2px, -2px);
	}

	20% {
		transform: translate(2px, -2px);
	}

	30% {
		transform: translate(-2px, 2px);
	}

	40% {
		transform: translate(2px, 2px);
	}

	50% {
		transform: translate(-2px, -2px);
	}

	60% {
		transform: translate(2px, -2px);
	}

	70% {
		transform: translate(-2px, 2px);
	}

	80% {
		transform: translate(-2px, -2px);
	}

	90% {
		transform: translate(2px, -2px);
	}

	100% {
		transform: translate(0);
	}
}


.buttonLose {
	display: none;
}

.buttonNoLose {
	display: block;
}


.defaitPlayer {
	
	animation: LosePlayer 2s ease 0s 1 normal forwards;
	color: red;
	font-family: "Jaro", sans-serif;
	border-color: white;
	font-size: 30px;
}
@keyframes LosePlayer {
	0% {
		opacity: 0;
		transform: rotateX(-70deg);
		transform-origin: bottom;
	}

	100% {
		opacity: 1;
		transform: rotateX(0);
		transform-origin: bottom;
	}
}
.hidden {
    display: none;
}
.buttonNone{
	display: none;
}
.superAttaqueAnim {
	transition: 1,5s;
	display:flex !important;
	text-align: center;
	background: linear-gradient(270deg, blue, rgb(246, 246, 246));
    background-size: 200% 200%;
	animation: Superhit 1s ease 0s 6 normal forwards, bgMove 2s linear infinite;
	


}
@keyframes bgMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes Superhit {
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(0.75, 1.25, 1);
	}

	40% {
		transform: scale3d(1.25, 0.75, 1);
	}

	50% {
		transform: scale3d(0.85, 1.15, 1);
	}

	65% {
		transform: scale3d(1.05, 0.95, 1);
	}

	75% {
		transform: scale3d(0.95, 1.05, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}

.boxButton {
	display: flex;
	
}

.playerSuperAttack {
  transition: 0.4s;
  filter: drop-shadow(0 0 25px rgb(0, 221, 255));
  animation: animateDropShadow 2s infinite alternate;
}
@keyframes animateDropShadow {
	0% {
	  filter: drop-shadow(0 0 25px rgb(0, 221, 255));
	}
	50% {
	  filter: drop-shadow(0 0 50px rgb(0, 221, 255));
	}
	100% {
	  filter: drop-shadow(0 0 25px rgb(0, 221, 255));
	}
  }
.ganonDefait {
	  z-index: 999;
	  padding: 100px;
	  animation: BossFailed 4s ease 0s 1 normal forwards;
	  transition: 1s;
	  color: white;
	  font-size: 80px;
	  font-family: "Jaro", sans-serif;
}
@keyframes BossFailed {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: scale(7);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: scale(1);
	}

	55% {
		animation-timing-function: ease-in;
		transform: scale(1.5);
	}

	72% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}

	81% {
		animation-timing-function: ease-in;
		transform: scale(1.24);
	}

	89% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}

	95% {
		animation-timing-function: ease-in;
		transform: scale(1.04);
	}

	100% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}
}

  
.BossDefait {
	animation: defait 2s ease 0s 1 normal forwards;
	
}
@keyframes defait {
	0% {
		opacity: 1;
		transform: scale(1);
	}

	100% {
		opacity: 0;
		transform: scale(0.6);
	}
}


/* PORGRESS BAR TEST
 */
 

 .animationDamage2 {
  
	animation:  Ganon 0.5s ease 0s 1 normal forwards;
	transition: 1.4s;
	
  }
  @keyframes Ganon {
	0%,
	50%,
	100% {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0;
	}
}
 
/* MESSAGE BOSS VAICU */
.messageDefaitBoss {
	z-index: 999;
	color: white;
	font-size: 50px;
}

/* TEST */

.opening-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(66, 66, 66, 0.7); 
	z-index: 9999; 
}

  .blur-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(10px);
	z-index: 1;
  }

  .blur-background2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(1px);
	z-index: 1;
  }
  
  .logo {
	transition: 1s;
	display: none;
  }

  .logoDisplay {
	animation: apparationLogo  2s ease 0s 1 normal forwards ;
	position: relative;
	z-index: 2;
	width: 400px; 
	height: auto;
	transition: 1s;
	display: block;
	transition: 0.4s;
	
  }
 
  @keyframes apparationLogo {
	0% {
		opacity: 0;
		transform: scale(1.4);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}
.playerSuperAttack {
	transition: 0.4s;
	filter: drop-shadow(0 0 25px rgb(0, 221, 255));
	animation: animateDropShadow 2s infinite alternate;
  }
  @keyframes animateDropShadow {
	  0% {
		filter: drop-shadow(0 0 25px rgb(0, 221, 255));
	  }
	  50% {
		filter: drop-shadow(0 0 50px rgb(0, 221, 255));
	  }
	  100% {
		filter: drop-shadow(0 0 25px rgb(0, 221, 255));
	  }
	}
.startButton {
	display: none;
	
  }
  .startButtonDisplay {
	display: block;
	margin-left: 39%;
	justify-content: center;
	position: relative;
	z-index: 2;
	width: 100px; 
	height: auto;
	background-color: #4bd49c;
	transition: 0.4s;
	animation: apparationLogo 2s ease 0s 1 normal forwards;
  }
  


  .startButton:hover {
	background-color: #03c776;
	transition: 0.6s;

  }
  
  /* FAIRE DISPARAITRE LE OVERLAY SUITE  */
  .overlayDisparition {
	animation: OverlayNone 2s ease 0s 1 normal forwards;
  }

  @keyframes OverlayNone {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(-250px);
	}
}

.divHeros {
	margin-top: -50px;
}

.bgMonsterProgress {
	background-color: #f90a0ace;
	
	animation: loader 2s ease 0s 1 normal forwards;
	
}

@keyframes loader {
    0% {left: 0px;}
    99% { left: 100%;} 
}

.blog {
	z-index:99999999999999999999999999999999999999999999;
	color: white ;
	font-size: 50px;

}

.heroesDefait {
	animation: defaitHeros 2s ease 0s 1 normal forwards;
}
@keyframes defaitHeros {
	0% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	5% {
		animation-timing-function: ease-in;
		transform: translateY(30px);
	}

	15% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	25% {
		animation-timing-function: ease-in;
		transform: translateY(38px);
	}

	38% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	52% {
		animation-timing-function: ease-in;
		transform: translateY(75px);
	}

	70% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	85% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: translateY(800px);
	}
}


.soin {
  transition: 1,5s;
  filter: drop-shadow(0 0 25px rgb(110, 239, 55));
  animation: animateDropSoin 3s;
}

@keyframes animateDropSoin {
  0% {
    filter: drop-shadow(0 0 25px rgb(110, 239, 55));
  }
  100% {
    filter: drop-shadow(0 0 25px rgb(191, 255, 0));
  }
}


/* SOINS AFFICHES DYNAMIQUEMENT  */
@keyframes showHeal {
	0% {
	  opacity: 1;
	  transform: translateY(100);
	}
	100% {
	  opacity: 0;
	  transform: translateY(-600px);
	}
  }
  
  .heal-text {
	font-family: "Jaro", sans-serif;
	position: absolute;
	font-size: 10.5rem;
	color: rgb(110, 239, 55);
	animation: showHeal 2.5s forwards;
  }

  .pv-text {
	font-family: "Jaro", sans-serif;
	position: absolute;
	font-size: 10.5rem;
	color: rgb(240, 76, 76);
	animation: showHeal 2.5s forwards;
  }


  /* DEGATS CRITIQUE POUR LE MONSTRE  */
  @keyframes showCriticalHit {
	0% {
	  opacity: 1;
	  transform: scale(1) translateY(0);
	}
	100% {
	  opacity: 0;
	  transform: scale(1.5) translateY(-50px);
	}
  }
  
  .critical-hit-text {
	position: fixed;
	top: 30%;
	left: 27%;
	transform: translate(-50%, -50%);
	font-size: 6rem;
	color: red;
	font-weight: bold;
	z-index: 9999;
	animation: showCriticalHit 3.5s forwards;
	text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5), 4px 4px 20px rgba(0, 0, 0, 0.5); 
	white-space: nowrap;
  }
  
  /* ANIMATION TEXT READY SUPERATK  */
  @keyframes moveLeftToRight {
	0% {
	  transform: translateX(-100%);
	}
	35% {
	  transform: translateX(0);
	}
	65% {
	  transform: translateX(0);
	}
	100% {
	  transform: translateX(130%);
	}
  }
  
  
  
  .move-text {
	position: fixed;
	top: 30%;
	left: 5%;
	font-size: 5rem;
	color: rgb(34, 108, 235);
	font-weight: bold;
	font-style: italic;
	z-index: 9999;
	animation: moveLeftToRight 3.5s linear forwards;
	text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.809), 4px 4px 20px rgba(255, 255, 255, 0.933);
  }
  
  .move-text::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.2); 
	backdrop-filter: blur(10px);
	z-index: -1; 
	border-radius: 10px; 
  }
  

  .spanName {
	color: red;
	text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.809), 4px 4px 20px rgba(55, 55, 55, 0.933); 

	
  }

  /* TEST EFFET BG SUPERATK */

.testSuperAtkBody {
	background-color: black;
	transition: 0.5s;
	z-index: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	z-index: 0;

  }

  .bg-black {
	background-color: rgba(0, 0, 0, 0.841);
	transition: 0.5s ;

  }

  .bg-red {
	background-color: rgba(255, 0, 0, 0.693);

  }